* {
    
    padding: 0;
    margin: 0;
}

.box {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a3c5a7;  
    border-radius: 25px;
    border: 5px solid black;
    padding: 20px;
    width: 400px; 
    margin: 50px auto; 
}

.box input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

.box h2 {
    margin-bottom: 15px;
    text-align: center;
}

button {
    background-color: #ddb395;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    filter: brightness(85%);
}
.logo{
    display: flex;

}
.logo img {
    margin: 0 auto;
    width: 80%;
    /* height:100% */
    
}



