* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;  
  overflow: hidden; 
}
/* new */
.chat-page {
  background-color: #fbf9eb;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  width: auto;      
  position: static; 
  left: auto;
  top: auto;
}

.chat-page .create-chat-button {
  align-items: center;
  background-color: #ddb395 !important;
  color: black !important;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;  
  display: block;
  margin-top: 80px;
}

.chat-page .create-chat-button a {
  align-items: center;
  color: black;
  text-decoration: none;
  text-align: center;
}

.chat-page .create-chat-button:hover {
  background-color: #e3cec0 !important;
  text-decoration: none;
}

/* new */
.create-chat-room {
  background-color: #fbf9eb;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  width: auto;      
  position: static; 
  left: auto;
  top: auto;
}

.create-chat-room h3 {
  margin-top: 0px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.create-chat-room form {
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

.create-chat-room .form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
}

.create-chat-room .form-control {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 10px auto 20px auto; 
}

.create-chat-room .form-control:focus {
  outline: none;
  border-color: #007bff;
}

.create-chat-room .button {
  align-items: center;
  margin: 5px;
  background-color: #ddb395!important;
  color: black !important;
  border-color: #ddb395 !important;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0;
}

.create-chat-room .button:hover {
  background-color: #e3cec0 !important;
}

.create-chat-room p {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.chat-page h2 {
  margin-top: 0px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.chat-page h3 {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  margin-top: 90px;
  margin-bottom: 40px;
  font-weight: bold;
}

.chat-page ul {
  text-align: center;
  list-style-type: none;
  width: 20%;
  margin: auto;
  padding: 0;
}

.chat-page ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.chat-page ul li {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #87cfb1;
  text-align: center;
  padding: 8px;
  margin-bottom: 20px;
}

.chat-page ul li a:hover {
  color: #0056b3;
}

.chat-page p {
  color: black;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

.create-chat-room-button {
  align-items: center;
  margin: 5px;
  background-color: #ddb395!important;
  color: black !important;
  border-color: #ddb395 !important;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  box-sizing: border-box;
}

.create-chat-room-button:hover {
  background-color: #e3cec0 !important;
  border: #e3cec0;
}

.chat-room {
  background-color: #fbf9eb;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  width: auto;      
  position: static; 
  align-items: center;
  width: 100%;             

  overflow: hidden;     

  top: -50px;           
  left: 0;
  padding: 0;
}

.chat-content h2 {
  left: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #87cfb1;
  color: #333;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 1.8rem;
}

.chat-content {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 0;
}

/* Message */
.message {
  margin-bottom: 12px;
  padding: 12px;
  background-color: #F0FFFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 49%; 
  margin-bottom: 10px; 
}

/* Sender */
.chat-room .message strong {
  color: #1E90FF;
  font-weight: bold;
}

/* Timestamp */
.chat-room .message small {
  display: block;
  margin-top: 5px;
  color: #aaa;
  font-size: 0.8rem;
}

/* Incoming message  */
.chat-room .message.incoming {
  background-color: #d6ece8;
  align-self: flex-start; 
  margin-right: auto; 
  width: 400px;
}

/* Outgoing message  */
.chat-room .message.outgoing {
  background-color: #ebebef;
  align-self: flex-end; 
  margin-left: 470px; 
  width: 400px;
}

.chat-room.sidebar-collapsed .message.outgoing {
  margin-left: 650px;
}

/* Message input form  */
.message-input {
  position: fixed;
  bottom: 0;
  left: 250px;
  width: 65%;
  background-color: #fbf9eb;
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  border-top: 1px solid #ccc;
  z-index: 20;
}

/* Chat Sidebar */
.chat-sidebar {
  background-color: #87cfb1;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 100%;
  transition: right 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  text-decoration: none;
}

.chat-sidebar h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-sidebar ul {
  list-style-type: none !important;
  text-align: center;
  padding: 0;
  
}

.chat-sidebar ul li {
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: 500;
}

.Add-button {
  align-items: center;
  margin: 5px;
  background-color: #ddb395!important;
  color: black !important;
  border-color: #ddb395 !important;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.Add-button:hover {
  background-color: #e3cec0 !important;
  border: #e3cec0;
}

.invites-container {
  background-color: #87cfb1;
  padding: 5px;
  border-radius: 8px;
  margin-top: 10px;
  width: 30%;
}

.invites-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.invites-container h3 {
  margin-top: 10px;
}

.invite-button {
  background-color: #87cfb1 !important;
  color: black !important;
  border: #87cfb1 !important;
}

.invite-button:hover {
  background-color: #e3cec0 !important;
}

.invite-item {
  background-color: #e4f4ed !important; 
  border: 2px solid #87cfb1; 
  margin: 10px 0;
  border-radius: 8px;
  padding: 30px;
  display: block;
  width: 300%;
  box-sizing: border-box;
} 

.accept {
  background-color: #ddb395 !important;
  border: #ddb395 !important;
  color: black !important;
}

.accept:hover {
  background-color: #e3cec0 !important;
}

.decline {
  background-color: #b7b7b7 !important;
  color: black !important;
  border: #b7b7b7 !important;
}

.decline:hover {
  background-color: #d32f2f  !important;
}

@media (max-width: 1024px) {
  .chat-sidebar {
    width: 200px;
  }

  .message {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .chat-sidebar {
    display: none;
  }

  .message-input {
    flex-direction: column;
    padding: 10px;
  }

  .message-input input,
  .message-input button {
    width: 100%;
  }

  .chat-room h2 {
    font-size: 1.4rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .chat-room h2 {
    font-size: 1.2rem;
  }

  .message-input {
    padding: 8px;
  }

  .message {
    font-size: 0.9rem;
  }
}
