body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;  
  overflow: hidden; 
}

.chat-page {
  background-color: #fbf9eb;  
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;             
  min-height: 110vh;       
  position: relative;      
  box-sizing: border-box;
  overflow: hidden;     
  position: absolute;
  top: -50px;           
  left: 0;
}

.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  background-color: #ddb395;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 9px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #e3cec0 !important;
}

.chat-page .create-chat-button {
  align-items: center;
  background-color: #ddb395 !important;
  color: black !important;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;  
  display: block;
  margin-top: 80px;
}

.chat-page .create-chat-button a {
  align-items: center;
  color: black;
  text-decoration: none;
  text-align: center;
}

.chat-page .create-chat-button:hover {
  background-color: #e3cec0 !important;
  text-decoration: none;
}

.create-chat-room {
  background-color: #fbf9eb;  
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;             
  min-height: 110vh;       
  position: relative;      
  box-sizing: border-box;
  overflow: hidden;     
  position: absolute;
  top: -50px;           
  left: 0;
}

.create-chat-room h3 {
  margin-top: 100px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.create-chat-room form {
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

.create-chat-room .form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
}

.create-chat-room .form-control {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 10px auto 20px auto; 
}

.create-chat-room .form-control:focus {
  outline: none;
  border-color: #007bff;
}

.create-chat-room .button {
  align-items: center;
  margin: 5px;
  background-color: #ddb395!important;
  color: black !important;
  border-color: #ddb395 !important;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0;
}

.create-chat-room .button:hover {
  background-color: #e3cec0 !important;
}

.create-chat-room p {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.chat-page h2 {
  margin-top: 100px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.chat-page h3 {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  margin-top: 90px;
  margin-bottom: 40px;
  font-weight: bold;
}

.chat-page ul {
  text-align: center;
  list-style-type: none;
  width: 20%;
/*  border: 2px solid rgb(222, 211, 211);*/
  margin: auto;
  padding: 0;
}

.chat-page ul li a {
  text-decoration: none;
  font-weight: 600;
 color: black;
}

.chat-page ul li {
  /*border: 2px solid white;*/
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #87cfb1;
  text-align: center;
  padding: 8px;
  margin-bottom: 20px;
}

.chat-page ul li a:hover {
  color: #0056b3;
}

.chat-page p {
  color: black;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

.create-chat-room-button {
  align-items: center;
  margin: 5px;
  background-color: #ddb395!important;
  color: black !important;
  border-color: #ddb395 !important;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.create-chat-room-button:hover {
  background-color: #e3cec0 !important;
  border: #e3cec0;
}

.chat-room {
  background-color: #fbf9eb;  
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;             
  min-height: 110vh;       
  position: relative;      
  box-sizing: border-box;
  overflow: hidden;     
  position: absolute;
  top: -50px;           
  left: 0;
}

.chat-room h2 {
  font-weight: bold;
  margin-top: 80px;
  margin-right: 200px;
  color: #333;
  margin-bottom: 20px;
  padding-top: 10px;
}

.chat-room .messages-container {
  margin: 10px auto 20px 200px; 
  display: flex;
  /*flex-grow: 1;*/
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 /* margin-top: 10px;*/
  width: 60%;
  min-height: 75vh;
}

.chat-room .message {
  margin-bottom: 12px;
  padding: 12px;
  background-color: #F0FFFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-room .message strong {
  color: #1E90FF;
  font-weight: bold;
}

.chat-room .message small {
  display: block;
  margin-top: 5px;
  color: #aaa;
  font-size: 0.8rem;
}

.chat-room .message.incoming {
  background-color: #d6ece8;
  align-self: flex-start;
  width: 49%;
}

.chat-room .message.outgoing {
  background-color: #ebebef;
  align-self: flex-end;
  width: 49%;
}

.chat-room .form-group {
  width: 100%;
  margin-bottom: 15px;
}

.chat-room .message-input {
  display: flex;
  margin: 10px 200px 20px 350px; 
  display: flex;
  margin-top: 10px;
  width: 40%;
  bottom: 20px;
}

.chat-room .message-input-field {
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 10%;
}

.chat-room .message-input button {
  padding: 20px 15px; 
  border-radius: 20px;
  height: 40px; 
  font-size: 16px;
  display: flex;
  align-items: center; 
  margin-top: 10px;
}

.chat-sidebar {
  border-radius: 10px;
  background-color: #87cfb1;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  height: 20%;
  box-shadow: -2px 0 5px #5a937c;
  transition: right 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  text-decoration: none;
}

.chat-sidebar h3 {
  text-align: center;
  font-weight: bold;
}

.chat-sidebar ul  {
  list-style-type: none !important;
  text-align: center;
  padding: 0;
}

.Add-button {
  align-items: center;
  margin: 5px;
  background-color: #ddb395!important;
  color: black !important;
  border-color: #ddb395 !important;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.Add-button:hover {
  background-color: #e3cec0 !important;
  border: #e3cec0;
}