.home-container {
  background-color: #fbf9eb;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  overflow: auto;
  width: auto;      
  position: static; 
  left: auto;
  top: auto;
}

.content h2 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  width: 100%;
}

/
.content {
  padding: 20px;
  flex: 1; 
  overflow-y: auto; 
  box-sizing: border-box; 
  width: 100%;
  margin-top: 0;
 
  align-items: center;
}


.button {
  margin: 5px;
  background-color: #fbf7eb !important;
  color: black !important;
  border-color: #fbf9eb !important;
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
}

.button:hover{
  background-color: #d32f2f !important;
}

@media (max-width: 768px) {
  .content {
    padding: 15px;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .button {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .content h2 {
    font-size: 1.3rem;
  }

  .button {
    font-size: 0.9rem;
  }
}

.home-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}



.right-lottie {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.right-lottie canvas {
  max-width: 100%;
  height: auto;
}

.left-content {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-lottie {
  width: 100%;
  max-width: 400px;
}

.welcome-subtext {
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-weight: 500;
}

