.room-selection-container {
  padding: 20px;
    background: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;             
    min-height: 110vh;       
    position: relative;      
    box-sizing: border-box;
    overflow: hidden;     
    position: absolute;
    top: -50px;           
    left: 0;
  }

  .room-selection-container h2 {
    margin-top: 60px;
    margin-bottom: 200px;
  }
  
  .back-button {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  
  .room-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .room-card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .room-card:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .room-image {
    width: 300px;
    height: auto;
    border-radius: 5px;
  }
  
  .room-title {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }