/* side bar */
.sidebar {
  width: 250px; 
  background-color: #87cfb1;
  padding: 20px;
  position: fixed; 
  height: 100%; 
  top: 0;
  left: 0;
  box-sizing: border-box; 
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* top-aligned */
  align-items: flex-start; /* keeps items aligned left */



}
  
.sidebar h3 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
  
/* sidebar links */
.sidebar-links {
  list-style-type: none;
  padding: 0;
}
  
/* list links */
.sidebar-links li {
  margin: 15px 0;
}
  
/* links */
.sidebar-links a {
  text-decoration: none;
  font-size: 16px;
  background-color: #fbf9eb;;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
}
  
/* link hover */
.sidebar-links a:hover {
  background-color: #FFEFD5;
}

.sidebar.collapsed {
  width: 80px;
}

/* button */
.collapse-button {
  border-radius: 5px;
  background-color: #fbf9eb;
  border: none;
  padding: 5px;
  /*margin-bottom: 50px; */
  cursor: pointer;
  margin: 0 0 30px 0; 
  padding-left: 0px;  
}

.collapse-button:hover {
  background-color:  #FFEFD5;
}

/* active link */
.sidebar-links .active-link {
  background-color: #ddb395;
  color: white;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.online-users {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.sidebar-links {
  margin-bottom: 20px;
}

.collapse-button {
  background: none;
  border: none;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}
